*{
    font-family: "Poppins", sans-serif;
    max-width: 1920px;
}
body{
    margin: 0 auto;
}

/* siliguri */
.font-bangla{
  font-family: "Hind Siliguri", sans-serif;
}

.active {
   background-color: #422AD5;
   color: white;
}
